{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width">
	<link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet"/>
	<link href="{% static 'styles/main.css' %}" rel="stylesheet"/>
	<title>Questões</title>
</head>
	<body>
		<center>
			<h1>Questões</h1>
			
				<STRONG>Questao: {{ question.question_text }}</STRONG>
				<STRONG>Data: {{ question.pub_date }}</STRONG>

			<br>
			{% for escolha in question.escolhas.all %}
				<a href="#"> {{ escolha }} </a>

			{% endfor %}
		</center>
	</body>
	
</html>