{% extends 'base.html' %}
{% block body %}
<div class = "col-lg-9">
		<h2 style="margin-top: 0px">{{ perfil.nome }}</h2>
		<address>			
			Email: <a href = "mailto:{{ perfil.email }}">{{ perfil.email }}</a>
			<br>
			Nome da empresa: <strong>{{ perfil.nome_empresa }}</strong>
		
		</address>
		{% if perfil.id != perfil_logado.id %}
			<a href = "{% url 'convidar' perfil.id %}">
				Convidar
			</a>
		{% endif %}
</div>

<div class="col-lg-3">
	{% if perfil.id == perfil_logado.id %}
		<a href = "{% url 'change_password' %}">
			Redefinir senha
		</a>
	{% endif %}
	</div>
{% endblock %}		