{% extends 'base.html' %}
{% block body %}
<div class = "col-lg-9">
		<h2 style="margin-top: 0px">{{ perfil.nome }}</h2>
		<address>			
			Email: <a href = "mailto:{{ perfil.email }}">{{ perfil.email }}</a>
			<br>
			Nome da empresa: <strong>{{ perfil.nome_empresa }}</strong>
		
		</address>
		{% if perfil.id != perfil_logado.id %}
			<a href = "{% url 'convidar' perfil.id %}">
				Convidar
			</a>

			<hr>
			{% if perfil_logado.superuser and not perfil.superuser %}
				<a href = "{% url 'super' perfil.id %}">
					Tornar este perfil como super usuário
				</a>
			{% endif %}
			
			
		{% endif %}

		


</div>


<div class="col-lg-3">
	{% if perfil.id == perfil_logado.id %}
		<a href = "{% url 'form_redefinir_senha' %}">
			Redefinir senha
		</a>
	{% endif %}
	</div>
{% endblock %}		